<!DOCTYPE html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/DitchRiders.css" />
    <link rel="icon" href="http://www.klamathirrigation.com/images/Old%20Hydro%201.jpg" />
    @*@RenderSection("PageHead", false)*@
</head>
<header id="Header">
    <div id="RideCenter">
        <a class="dropdown">@User.Identity.Name: Ride @Url.RequestContext.RouteData.Values["id"]</a>        
    </div>
    <nav id="Menue">
        <ul id="Menu">
            <li class="dropdown">
                <a href="@Url.Action("Customers", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Customers</a>
                <div class="dropdownRequest" style="overflow-x: auto;">
                    <a href="@Url.Action("Customers_On", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Customers With Water On</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("Appending_On", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Appending On</a>
                <div class="dropdownRequest" style="overflow-x: auto;">
                    <a href="@Url.Action("Appending_Off", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Appending Off</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("_ActiveRequestsOn", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Active Requests On</a>
                <div class="dropdownRequest" style="overflow-x: auto;">
                    <a href="@Url.Action("_ActiveRequestsOff", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Active Requests Off</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("WaitList_On", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Waitlist On</a>
                <div class="dropdownRequest" style="overflow-x: auto;">
                    <a href="@Url.Action("WaitList_Off", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Waitlist Off</a>
                </div>
            </li>
            <li>
                <a href="@Url.Action("CanalWater", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]">Canals</a>           
            <li>
                @using (Html.BeginForm("LogOff", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-link" id="LogOutBtn">Log Out</button>
                }
            </li>
        </ul>
        </nav>
</header>
<html>

<body>
    @RenderBody()
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
    @*@RenderSection("Scripts", false)*@
</body>
</html>
<footer>
    <div id="Logo">
        <table class="footer">
            <tr>
                <th>Contact KID</th>
                <th>Main Office</th>
                <th>Phone Num.</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>
                    <img src="http://www.klamathirrigation.com/images/Old%20Hydro%201.jpg">
                </td>
                <td><address>
                    6640 KID Lane,
                    <br>Klamath Falls
                    <br>OR 97603
                    </address>
                </td>
                <td>(541)882-6661</td>
                <td>
                    8AM-4:30PM
                    <br>Monday-Friday
                </td>
            </tr>
        </table>
    </div>
</footer>

