@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@*@model PagedList.IPagedList<Customers>*@
@model List<Customers>
@{
    ViewBag.Title = "Customers: Contacts Page";
    Layout = "~/Views/Shared/CustomerMenu.cshtml";
}
@*<head>
    <title>Customers: Contacts</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<header id="Menu">
    <ul>
        <li><label class="FirstLast">@User.Identity.Name</label></li>
        <li class="dropdown">
            <a href="./Index">Requests</a>
            <div class="dropdownRequest" style="overflow-x: auto;">
                <a href="./CustomerAddRequest">Add Request</a>
                <a href="./CustomerWaitList">Waitlist</a>
            </div>
        </li>
        <li><a href="./CustomerWaterHistory">History</a></li>
        <li><a id="active" href="./ContactsPage">Contacts</a></li>
        <li><a href="./CustomerProfile">Profile</a></li>

        <a href="../KIDLogInPageHTML.html"><button class="LogOutBtn">Log Out</button></a>

        <li>
            <b>
                
            </b>
        </li>

    </ul>
</header>*@
<body>

    <div style="overflow: auto;">
        <table class="Contacts">
            <caption>KID Staff</caption>
            <tr>
                <th>@Html.Label("Position")</th>
                <th>@Html.Label("First Name")</th>
                <th>@Html.Label("Last Name")</th>
                <th>@Html.Label("Email")</th>
                <th>@Html.Label("Phone Number")</th>
            </tr>
            @*Need to display list as Position = KIDStaff.Position = Positions.Position where KIDStaff.Position = Positions.PositionID*@
            @*Need to have staff status filter*@

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Staff_Position</td>
                    <td>@Model[i].Staff_FirstName</td>
                    <td>@Model[i].Staff_LastName</td>
                    <td>@Model[i].Staff_Email</td>
                    <td>@Model[i].Staff_PhoneNumber</td>
                </tr>
            }
        </table>
    </div>
    @*<div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("ContactsPage", new { page }))
    </div>*@
</body>

