@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@*@model PagedList.IPagedList<Customers>*@
@model List<Customers>
@{
    ViewBag.Title = "Customer: Profile";
    Layout = "~/Views/Shared/CustomerMenu.cshtml";
}

<body>

    <p>If there is any wrong information here, please contact the KID office</p>
    <div style="overflow-x: auto;">
        <table class="Contacts">
            <caption>Current Customer Info</caption>
            <tr>
                <th>@Html.Label("CustomerID")</th>
                <th>@Html.Label("CustomerName")</th>
                <th>@Html.Label("Address 1")</th>
                <th>@Html.Label("City")</th>
                <th>@Html.Label("State")</th>
                <th>@Html.Label("ZipCode")</th>
                <th>@Html.Label("Total Allotment")</th>
                <th>@Html.Label("Violations")</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].CustomerID</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Address1</td>
                    <td>@Model[i].City</td>
                    <td>@Model[i].State</td>
                    <td>@Model[i].Zip</td>
                    <td>@Model[i].TotalAllotment</td>
                    <td>@Model[i].Violations</td>
                </tr>
            }

        </table>

    </div>

</body>