@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<Customers>
@{
    ViewBag.Title = "Customers: Water History";
    Layout = "~/Views/Shared/CustomerMenu.cshtml";
}

<body>
    <div style="overflow-x: auto;">
        <table class="Contacts">
            <caption>Complete Request (off)</caption>
            <tr>
                <th>@Html.Label("RequestID")</th>
                <th>@Html.Label("Structure")</th>
                <th>@Html.Label("Detail")</th>
                <th>@Html.Label("CFS Requested")</th>
                <th>@Html.Label("Request Date")</th>
                <th>@Html.Label("Comments")</th>
                <th>@Html.Label("Applied CFS")</th>
                <th>@Html.Label("Staff Name")</th>
                <th>@Html.Label("Comments")</th>
                <th>@Html.Label("Status")</th>
                <th>@Html.Label("Active Date")</th>
                <th>@Html.Label("Complete Date")</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].RequestID</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].StructureComment</td>
                    <td>@Model[i].CustomerCFS_1</td>
                    <td>@Model[i].CustomerDate1.ToShortDateString()</td>
                    <td id="RBorder">@Model[i].CustomerComments_1</td>
                    <td>@Model[i].StaffCFS1</td>
                    <td>@Model[i].StaffName_2</td>
                    <td>@Model[i].StaffComments2</td>
                    <td>@Model[i].RequestStatus2</td>
                    <td>@Model[i].StaffDate1.ToShortDateString()</td>
                    <td>@Model[i].StaffDate2.ToShortDateString()</td>
                </tr>
            }
        </table>
    </div>
    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("CustomerWaterHistory", new { page, @CustomerID = ViewData["CID"] }))
    </div>
</body>
