@using KlamathIrrigationDistrict.DataLayer.DataModels
@model Customers
@{
    ViewBag.Title = "Customer: Add Request";
}
<head>
    <title>Customers: Add Request</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<header id="Menu">
    <ul>
        <li><label class="FirstLast">First.Last</label></li>
        <li><a href="/Customers/IndexCustomer">Requests</a></li>
        <li><a href="./CustomerWaterHistory">History</a></li>
        <li><a href="./ContactsPage">Contacts</a></li>
        <li><a href="./CustomerProfile">Profile</a></li>
        <!--edit account page needs work-->
        <a href="../KIDLogInPageHTML.html"><button class="LogOutBtn">Log Out</button></a>

        <li>
            <b>
                Allotment in AFPA
                <!--Dark Green #005e00 for Full Allotment!-->
                <input style="color: #005e00; font-weight: bold;" type="Allotment" value="200" readonly>/200
                <br>
                <!--Lime Green #0cfc29 for Alotment 75% GONE!-->
                Allotment in AFPA
                <input style="color: #0cfc29; font-weight: bold;" type="Allotment" value="150" readonly>/200
                <br>
                <!--Orange  #ed7d30for Alotment 50% GONE!-->
                Allotment in AFPA
                <input style="color: #ed7d30; font-weight: bold;" type="Allotment" value="100" readonly>/200
                <br>
                <!--Gold #e4be00 for Alotment 25% GONE!-->
                Allotment in AFPA
                <input style="color: #e4be00; font-weight: bold;" type="Allotment" value="50" readonly>/200
                <br>
                <!--Red #ff0000 for NO Alotment Left!-->
                Allotment in AFPA
                <input style="color: #ff0000; font-weight: bold;" type="Allotment" value="0" readonly>/200
            </b>
        </li>

    </ul>
</header>
<body>
    <a href="IndexCustomer" class="next">Previous &raquo;</a>
    <div style="overflow-x: auto;">
        <!--Add Request class=Contacts-->
        <table class="Contacts">
            <caption>Add Request (On)</caption>
            <tr>
                <th>@Html.Label("Request Date")</th>
                <th>@Html.Label("CustomerID")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Structure")</th>
                <th>@Html.Label("CFS Requesting")</th>
                <th>@Html.Label("Comments")</th>
            </tr>
            <tr>
                @Html.HiddenFor(m => m.RequestID)
                <td>@Html.TextBoxFor(m => m.CustomerDate1, new { @type = "date", @placeholder = "02/02/2018" })</td>
                <td>@Html.TextBoxFor(m => m.CustomerID, new { @type = "number", @Value = "760" })</td>
                <td>@Html.TextBoxFor(m => m.Name, new { @Value = "Kliewer Ryan & Laurinda" })</td>
                <td>@Html.TextBoxFor(m => m.Structure)</td>
                <td>@Html.TextBoxFor(m => m.CustomerCFS_1, new { @type = "number" })</td>
                <td>@Html.TextBoxFor(m => m.CustomerComments_1)</td>
                <td><button type="submit">Submit Request</button></td>
            </tr>
            @*<tr>
                <td></td>
                <td>
                    <input list="CustomersStructures" placeholder="Structure">
                    <datalist id="CustomersStructures">
                        <option value="T4378"></option>
                        <option value="T58392"></option>
                    </datalist>
                </td>
                <td>
                    <input type="date" value="2017-08-12">
                </td>
                <td>
                    <input type="CFS" value="0">
                </td>
                <td>
                    <input type="Comments" placeholder="Comments...">
                </td>
                <td>
                    <button>Submit Request</button>
                </td>
            </tr>*@
        </table>
    </div>
</body>
