@using KlamathIrrigationDistrict.DataLayer.DataModels
@model Customers
@{
    ViewBag.Title = "Customer: Add Request";
    Layout = "~/Views/Shared/CustomerMenu.cshtml";
}
<head>
    <title>Customers: Add Request</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>

<body>
    <a href="@Url.Action("Index", "Customers")/@Url.RequestContext.RouteData.Values["id"]" class="previous">&laquo; Previous</a>
    <div style="overflow-x: auto;">
        <!--Add Request class=Contacts-->
        <table class="Contacts">
            <caption>Add Request (On)</caption>
            <tr>
                <th>@Html.Label("Request Date")</th>
                <th>@Html.Label("CustomerID")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Structure")</th>
                <th>@Html.Label("CFS Requesting")</th>
                <th>@Html.Label("Comments")</th>
            </tr>
            <tr>
                @using (@Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.RequestID)
                    <td>@Html.TextBoxFor(m => m.CustomerDate1, new { @type = "date", @placeholder = "GETDATE()" })</td>
                    <td>@Html.TextBoxFor(m => m.CustomerID, new { @Value = Model.CustomerID })</td>         @*Need to pull from the customer identity, how?*@
                    <td>@Html.TextBoxFor(m => m.Name, new { @Value = User.Identity.Name })</td>
                    <td>@Html.TextBoxFor(m => m.Structure)</td>
                    <td>@Html.TextBoxFor(m => m.CustomerCFS_1, new { @type = "number" })</td>
                    <td>@Html.TextBoxFor(m => m.CustomerComments_1, new { @type = "Comments" })</td>
                    <td><button type""submit">Submit</button></td>
                }
            </tr>
        </table>

        @*
            ADD REQUEST
            @using (Html.BeginForm())
            {
                <div>
                    @Html.Label("Request Date")
                    @Html.TextBoxFor(m => m.CustomerDate1, new { @type = "date", @placeholder = "GETDATE()" })
                    @Html.ValidationMessageFor(m => m.CustomerDate1)
                </div>
                <div>
                    @Html.Label("CustomerID")
                    @Html.TextBoxFor(m => m.CustomerID, new { @type = "number", @Value = "760" })
                    @Html.ValidationMessageFor(m => m.CustomerID)
                </div>
                <div>
                    @Html.Label("Name")
                    @Html.TextBoxFor(m => m.Name, new { @Value = "Kliewer Ryan & Laurinda" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div>
                    @Html.Label("Structure")
                    @Html.TextBoxFor(m => m.Structure)
                    @Html.ValidationMessageFor(m => m.Structure)
                </div>
                <div>
                    @Html.Label("CFS Requesting")
                    @Html.TextBoxFor(m => m.CustomerCFS_1)
                    @Html.ValidationMessageFor(m => m.CustomerCFS_1)
                </div>
                <div>
                    @Html.Label("Comments")
                    @Html.TextBoxFor(m => m.CustomerComments_1)
                    @Html.ValidationMessageFor(m => m.CustomerComments_1)
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            }
        *@
    </div>
</body>
