@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<Customers>
@*@model Customers*@
    @{ 
        ViewBag.Title = "Customer: Home Page";
    }
<head>
    <title>Customer: Home Page</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--Menu-->
<header id="Menu">
    <ul>
        <li><label class="FirstLast">@User.Identity.Name</label></li>
        <li><a id="active" href="./Customers/Index">Requests</a></li>
        <li><a href="./CustomerWaterHistory">History</a></li>

        <!--testing out a drop down list for history, hover should show the search-->
        @*<li class="dropdown">
            <a class="RequestDropDown" href="./CustomerWaterHistory">History</a>
            <div class="dropdownRequest">
                <a href="./View_SetDate_CustomerRequest.html">Search Request Date</a>
            </div
        </li>>*@

        <li><a href="./ContactsPage">Contacts</a></li>
        <li><a href="./CustomerProfile">Profile</a></li>
        <!--edit account page needs work-->
        <a href="../KIDLogInPageHTML.html"><button class="LogOutBtn">Log Out</button></a>

        <li>
            <b>
                Allotment in AFPA
                <!--Dark Green #005e00 for Full Allotment!-->
                <input style="color: #005e00; font-weight: bold;" type="Allotment" value="200" readonly>/200
                <br>
                <!--Lime Green #0cfc29 for Alotment 75% GONE!-->
                Allotment in AFPA
                <input style="color: #0cfc29; font-weight: bold;" type="Allotment" value="150" readonly>/200
                <br>
                <!--Orange  #ed7d30for Alotment 50% GONE!-->
                Allotment in AFPA
                <input style="color: #ed7d30; font-weight: bold;" type="Allotment" value="100" readonly>/200
                <br>
                <!--Gold #e4be00 for Alotment 25% GONE!-->
                Allotment in AFPA
                <input style="color: #e4be00; font-weight: bold;" type="Allotment" value="50" readonly>/200
                <br>
                <!--Red #ff0000 for NO Alotment Left!-->
                Allotment in AFPA
                <input style="color: #ff0000; font-weight: bold;" type="Allotment" value="0" readonly>/200
            </b>

            <!--testing the display for customer allotment-->
            @*Allotment
            <var>@Model[1].TotalAllotment</var>*@

        </li>
    </ul>
</header>
<body>
    @* AddRequest will allow use to apply for water request *@
    <a href="CustomerAddRequest" class="next">Add Water Request &raquo;</a>

    <div style="overflow-x: auto;">
        <table class="Contacts">
            <caption>Active Requests (On)</caption>
            <tr>
                <th>@Html.Label("RequestID")</th>
                <th>@Html.Label("Structure")</th>
                <th>@Html.Label("CFS Requesting")</th>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Comments")</th>
                @*<th>@Html.Label("Status")</th>*@

            </tr>
            @* Allow the user to input into 'Active Request' -> add a request *@
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>@Model[i].RequestID</td>
                <td>@Model[i].Structure</td>
                @*<td>@Html.TextBoxFor(Model => Model[i].CustomerCFS_1, new { @Type = "number" })</td>*@
                <td>@Model[i].CustomerCFS_1</td>
                <td>@Model[i].TimeStampCustomer1.ToShortDateString()</td>
                @*<td>@Html.TextAreaFor(Model => Model[i].CustomerComments_1)</td>*@
                <td>@Model[i].CustomerComments_1</td>
                @*<td>@Model[i].RequestStatus1</td>*@
            </tr>
            }
        </table>
    </div>
    <div class="pagination" style="margin-left: 20px;">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    <div style="overflow-x: auto;">
        <!--Wait List class=Contacts-->
        <table class="Contacts">
            <caption>Wait List</caption>
            <tr>
                <th>Number</th>
                <th>Structure</th>
                <th>Date</th>
                <th>CFS</th>
                <th>Comments</th>
                <th>Note</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    T5832
                </td>
                <td>08/12/17</td>
                <td><input type="CFS" value="4" disabled></td>
                <td>
                    <input type="Comments" placeholder="Comments..." disabled>
                </td>
                <td>Ditch Rider will call when you are removed from wait list.</td>
            </tr>
        </table>
    </div>
</body>