@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<Customers>
    @{ 
        ViewBag.Title = "Customer: Home Page";
    }
<head>
    <title>Customer: Home Page</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--Menu-->
<header id="Menu">
    <ul>
        <li><label class="FirstLast">First.Last</label></li>
        <li><a id="active" href="Customers/Index">Requests</a></li>
        <li><a href="./CustomerWaterHistory">History</a></li>
        <li><a href="./ContactsPage">Contacts</a></li>
        <li><a href="./CustomerProfile">Profile</a></li>
        <!--edit account page needs work-->
        <a href="../KIDLogInPageHTML.html"><button class="LogOutBtn">Log Out</button></a>

        <li>
            <b>
                Allotment in AFPA
                <!--Dark Green #005e00 for Full Allotment!-->
                <input style="color: #005e00; font-weight: bold;" type="Allotment" value="200" readonly>/200
                <br>
                <!--Lime Green #0cfc29 for Alotment 75% GONE!-->
                Allotment in AFPA
                <input style="color: #0cfc29; font-weight: bold;" type="Allotment" value="150" readonly>/200
                <br>
                <!--Orange  #ed7d30for Alotment 50% GONE!-->
                Allotment in AFPA
                <input style="color: #ed7d30; font-weight: bold;" type="Allotment" value="100" readonly>/200
                <br>
                <!--Gold #e4be00 for Alotment 25% GONE!-->
                Allotment in AFPA
                <input style="color: #e4be00; font-weight: bold;" type="Allotment" value="50" readonly>/200
                <br>
                <!--Red #ff0000 for NO Alotment Left!-->
                Allotment in AFPA
                <input style="color: #ff0000; font-weight: bold;" type="Allotment" value="0" readonly>/200
            </b>
        </li>
    </ul>
</header>
<body>
    @* AddRequest will allow use to apply for water request *@
    @*<a href="AddRequest" class="next">Add Water Order &raquo;</a>*@
    @* jump to display customer's view of current active orders *@
    <div style="overflow-x: auto;">
        <table class="Contacts">
            <caption>Active Requests</caption>
            <tr>
                <th>@Html.Label("RequestID")</th>
                <th>@Html.Label("Structure")</th>
                <th>@Html.Label("CFS Requesting")</th>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Comments")</th>
                <th>@Html.Label("Status")</th>
                @*<th>RequestID</th>
                <th>Structure</th>
                <th>Date</th>
                <th>CFS</th>
                <th>Comments</th>*@
            </tr>
            @* Allow the user to input into 'Active Request' -> add a request *@
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].RequestID</td>
                    <td>@Model[i].Structure</td>
                    @*<td>@Html.TextBoxFor(Model => Model[i].CustomerCFS_1, new { @Type = "number" })</td>*@
                    <td>@Model[i].CustomerCFS_1</td>
                    <td>@Model[i].TimeStampCustomer1.ToShortDateString()</td>
                    <td>@Html.TextAreaFor(Model => Model[i].CustomerComments_1)</td>
                    <td>@Model[i].RequestStatus1</td>
                    @*<td>
                        @Html.ActionLink("Submit", "AddWaterOrderRequest", new { @RequestID = Model[i].RequestID })
                    </td>*@
                </tr>
            }
        </table>
        </div>
        <div style="overflow-x: auto;">
            <table class="Contacts">
                <caption>Complete Request</caption>
                <tr>
                    <th>@Html.Label("RequestID")</th>
                    <th>@Html.Label("Structure")</th>
                    <th>@Html.Label("CFS Requested")</th>
                    <th>@Html.Label("Request Date")</th>
                    <th>@Html.Label("Comments")</th>
                    <th>@Html.Label("Applied CFS")</th>
                    <th>@Html.Label("Staff Name")</th>
                    @*<th>@Html.Label("Ditch Rider Date")</th>*@
                    <th>@Html.Label("Comments")</th>
                    <th>@Html.Label("Status")</th>
                    <th>@Html.Label("Date")</th>
                </tr>
                @* Allow the user to input into 'Active Request' -> add a request *@
                @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].RequestID</td>
                    <td>@Model[i].Structure</td>                    
                    <td>@Model[i].CustomerCFS_2</td>
                    <td>@Model[i].TimeStampCustomer2</td>
                    <td id="RBorder">@Model[i].CustomerComments_2</td>                    
                    @*<td>@Model[i].DitchRiderDate.ToShortDateString()</td>*@
                    <td>@Model[i].StaffCFS2</td>
                    <td>@Model[i].StaffName_2</td>
                    <td>@Model[i].StaffComments2</td>
                    <td>@Model[i].RequestStatus2</td>
                    <td>@Model[i].TimeStampStaff2</td>
                    @*<td>
            @Html.ActionLink("Submit", "AddWaterOrderRequest", new { @RequestID = Model[i].RequestID })
        </td>*@
                </tr>
        }

            </table>
            </div>
            <!--Current Requests class=Contacts-->
            @*<table class="Contacts">
                    <caption>Current Requests</caption>
                    <tr>
                        <th>Structure</th>
                        <th>Date</th>
                        <th>CFS</th>
                        <th>Comments</th>
                        <th colspan="2">Ditch Rider</th>
                    </tr>
                    <tr>
                        <td>T4378</td>
                        <td>08/07/17</td>
                        <td><input type="CFS" value="5" disabled></td>
                        <td>
                            <input type="Comments" placeholder="Comments.." disabled>
                        </td>
                        <td>
                            <input type="checkbox" checked disabled>Confirmed
                            <br><input type="checkbox" disabled>Rejected
                        </td>
                        <td>
                            <button hidden>Edit Request</button>
                        </td>
                    </tr>
                    <tr>
                        <td>T4378</td>
                        <td>08/08/17</td>
                        <td><input type="CFS" value="-5" disabled></td>
                        <td>
                            <input type="Comments" placeholder="Comments.." disabled>
                        </td>
                        <td>
                            <input type="checkbox" disabled>Confirmed
                            <br><input type="checkbox" disabled>Rejected
                        </td>
                        <td>
                            <button id="active">Edit Request</button>
                        </td>
                    </tr>
                    <tr>
                        <td>T58392</td>
                        <td>08/10/17</td>
                        <td><input type="CFS" value="6" disabled></td>
                        <td>
                            <input type="Comments" placeholder="Comments.." disabled>
                        </td>
                        <td>
                            <input type="checkbox" disabled>Confirmed
                            <br><input type="checkbox" disabled>Rejected
                        </td>
                        <td>
                            <button>Edit Request</button>
                        </td>
                    </tr>
                    <tr>
                        <td>T58392</td>
                        <td>08/11/17</td>
                        <td><input type="CFS" value="-6" disabled></td>
                        <td>
                            <input type="Comments" placeholder="Comments..." disabled>
                        </td>
                        <td>
                            <input type="checkbox" disabled>Confirmed
                            <br><input type="checkbox" disabled>Rejected
                        </td>
                        <td>
                            <button>Edit Request</button>
                        </td>
                    </tr>
                </table>
            </div>*@
            <div style="overflow-x: auto;">
                <!--Add Request class=Contacts-->
                <table class="Contacts">
                    <caption>Add Request</caption>
                    <tr>
                        <th>Structure</th>
                        <th>Date</th>
                        <th>CFS</th>
                        <th colspan="2">Comments</th>
                    </tr>
                    <tr>
                        <td>
                            <input list="CustomersStructures" placeholder="Structure">
                            <datalist id="CustomersStructures">
                                <option value="T4378"></option>
                                <option value="T58392"></option>
                            </datalist>
                        </td>
                        <td>
                            <input type="date" value="2017-08-12">
                        </td>
                        <td>
                            <input type="CFS" value="0">
                        </td>
                        <td>
                            <input type="Comments" placeholder="Comments...">
                        </td>
                        <td>
                            <button>Submit Request</button>
                        </td>
                    </tr>
                </table>
            </div>
            @* Customer cannot edit their request, only staff can *@
            @* <div style="overflow-x: auto;">
                <!--Edit Requests class=Contacts-->
                <table class="Contacts">
                    <caption>Edit Request</caption>
                    <tr>
                        <th>Structure</th>
                        <th>Date</th>
                        <th>CFS</th>
                        <th colspan="2">Comments</th>
                    </tr>
                    <tr>
                        <td>T4378</td>
                        <td>
                            <input type="date" value="2017-08-08">
                        </td>
                        <td>
                            <input type="CFS" value="-5">
                        </td>
                        <td>
                            <input type="Comments" placeholder="Comments...">
                        </td>
                        <td>
                            <button>Update Request</button>
                        </td>
                    </tr>
                </table>
            </div>*@
            <div style="overflow-x: auto;">
                <!--Wait List class=Contacts-->
                <table class="Contacts">
                    <caption>Wait List</caption>
                    <tr>
                        <th>Number</th>
                        <th>Structure</th>
                        <th>Date</th>
                        <th>CFS</th>
                        <th>Comments</th>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            T5832
                        </td>
                        <td>08/12/17</td>
                        <td><input type="CFS" value="4" disabled></td>
                        <td>
                            <input type="Comments" placeholder="Comments..." disabled>
                        </td>
                        <td>Ditch Rider will call when you are removed from wait list.</td>
                    </tr>
                </table>
            </div>
</body>
<footer>
    <div id="Logo">
        <table class="footer">
            <tr>
                <th>Contact KID</th>
                <th>Main Office</th>
                <th>Phone Num.</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>
                    <img src="http://www.klamathirrigation.com/images/Old%20Hydro%201.jpg">
                </td>
                <td>
                    6640 KID Lane,
                    <br>Klamath Falls
                    <br>OR 97603
                </td>
                <td>(541)882-661</td>
                <td>
                    8AM-4:30PM
                    <br>Monday-Friday
                </td>
            </tr>
        </table>
        </table>
    </div>
</footer>
</html>
