@using KlamathIrrigationDistrict.DataLayer.DataModels
@model Customers
@{
    ViewBag.Title = "KID Staff: Edit Customer";
}
<head>
    <title>KID: Office Staff</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/OfficeStaff.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--Log in Name, Customers, Ditch Riders, Log Out id=OfficeStaffMenu-->
<header id="OfficeStaffMenu">
    <ul>
        <li><label class="FirstLast">Linda.Seater</label></li>
        <li><a href="Index" id="active">Customers</a></li>
        <li><a href="/OfficeStaff/Index">Staff</a></li>
        <li><a href="/MapTaxLot/Index">MapTaxLots</a></li>
        <li><a href="~/Account/Login" class="LogOutBtn">Log Out</a></li>
    </ul>
</header>
<body>
    <a href="Index" class="previous">&laquo; Previous</a><br />
    Edit Customer
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(s => s.CustomerID)
            @Html.TextBoxFor(s => s.CustomerID, new { @class = "CustomerID" })
            @Html.ValidationMessageFor(s => s.CustomerID)
        </div>
        <div>
            @Html.LabelFor(s => s.TrackingID)
            @Html.TextBoxFor(s => s.TrackingID, new { @class = "CustomerID" })
            @Html.ValidationMessageFor(s => s.TrackingID)
        </div>
        <div>
            @Html.LabelFor(s => s.Name)
            @Html.TextBoxFor(s => s.Name, new { @class = "Name" })
            @Html.ValidationMessageFor(s => s.Name)
        </div>
        <div>
            @Html.LabelFor(s => s.Address1)
            @Html.TextBoxFor(s => s.Address1, new { @class = "Address" })
            @Html.ValidationMessageFor(s => s.Address1)
        </div>
        <div>
            @Html.LabelFor(s => s.Address2)
            @Html.TextBoxFor(s => s.Address2, new { @class = "Address" })
            @Html.ValidationMessageFor(s => s.Address2)
        </div>
        <div>
            @Html.LabelFor(s => s.City)
            @Html.TextBoxFor(s => s.City, new { @class = "City" })
            @Html.ValidationMessageFor(s => s.City)
        </div>
        <div>
            @Html.LabelFor(s => s.State)
            @Html.TextBoxFor(s => s.State, new { @class = "State" })
            @Html.ValidationMessageFor(s => s.State)
        </div>
        <div>
            @Html.LabelFor(s => s.Zip)
            @Html.TextBoxFor(s => s.Zip, new { @class = "Zip" })
            @Html.ValidationMessageFor(s => s.Zip)
        </div>
        <div>
            @Html.LabelFor(s => s.TotalAllotment)
            @Html.TextBoxFor(s => s.TotalAllotment, new { @class = "TotalAllotment" })
            @Html.ValidationMessageFor(s => s.TotalAllotment)
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    }
</body>
