@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<Divisions>
@*@model List<Divisions>*@
@{
    ViewBag.Title = "KID Staff: Map Tax Lots";
}
<head>
    <title>KID: Office Staff</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/OfficeStaff.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--Log in Name, Customers, Ditch Riders, Log Out id=OfficeStaffMenu-->
<header id="OfficeStaffMenu">
    <ul>
        <li><label class="FirstLast">Linda.Seater</label></li>
        <li><a href="/Customers/Index">Customers</a></li>
        <li><a href="~/OfficeStaff/Index">Staff</a></li>
        <li class="dropdown">
            <a href="/MapTaxLot/Index" id="active">MapTaxLots</a>
            <div class="dropdownMTL" style="overflow-x: auto;">
                <a href="Index">Divisons and Rates</a>
            </div>
        </li>

        <li><a href="~/Account/Login" class="LogOutBtn">Log Out</a></li>
    </ul>
</header>
<body>
    <a href="Add" class="next">Add &raquo;</a>
    <div style="overflow: auto">
        <table class="OfficeStaffCustomers">
            <caption>Divisions</caption>
            <tr>
                <th>Division ID</th>
                <th>Rate</th>
                <th>Edit</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].DivisionID</td>
                    <td>@Model[i].Rate</td>
                    <td>
                        
                        @Html.ActionLink("Edit", "Edit", new { @DivisionID = Model[i].DivisionID })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    <br />
</body>