@using KlamathIrrigationDistrict.DataLayer.DataModels
@model MapTaxLots
@{ 
    ViewBag.Title = "KID OfficeStaff: Add Map Tax Lot";
}
<head>
    <title>KID: Office Staff</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/OfficeStaff.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<header id="OfficeStaffMenu">
    <ul>
        <li><label class="FirstLast">Linda.Seater</label></li>
        @*use @Html.DisplayFOR(m => m.LogIn))*@
        <li><a href="/Customers/Index">Customers</a></li>
        <li><a href="~/OfficeStaff/Index">Staff</a></li>
        <li><a href="Index" id="active">MapTaxLots</a></li>
        <li><a href="~/Account/Login" class="LogOutBtn">Log Out</a></li>
    </ul>
</header>
<body>
    <a href="Index" class="previous">&laquo; Previous</a>
    <br />
    Add MapTaxLot
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.MapTaxLot)
        @Html.TextBoxFor( m => m.MapTaxLot, new { @type = "mtl" })
        @Html.ValidationMessageFor(m => m.MapTaxLot)
    </div>
    <div>
        @Html.LabelFor(m => m.DivisionID)
        @*@Html.TextBoxFor(m => m.DivisionID)*@
        @Html.DropDownList("DivisionID", new SelectList(Enum.GetValues(typeof(SelectDevision))), "DivisionID", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DivisionID)
    </div>
    <div>
        @Html.LabelFor(m => m.TrackingID)
        @Html.TextBoxFor(m => m.TrackingID, new { @type = "CustomerID" })
        @Html.ValidationMessageFor(m => m.TrackingID)
    </div>
    <div>
        @Html.LabelFor(m =>m.Name)
        @Html.TextBoxFor(m =>m.Name, new { @type = "owner" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Structure)
        @Html.TextBoxFor(m => m.Structure, new { @type = "Turnout" })
        @Html.ValidationMessageFor(m => m.Structure)
    </div>
    <div>
        @Html.LabelFor(m => m.LongName)
        @Html.TextBoxFor(m => m.LongName, new { @type = "LongName" })
        @Html.ValidationMessageFor(m => m.LongName)
    </div>
    <div>
        @Html.LabelFor(m => m.Status)
        @*@Html.TextBoxFor(m => m.Status)*@
        @Html.DropDownList("Status", new SelectList(Enum.GetValues(typeof(SelectStatusID1))), "Status", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Status)
    </div>
    <div>
        @Html.LabelFor(m => m.Acers)
        @Html.TextBoxFor(m => m.Acers, new { @type = "Acers" })
        @Html.ValidationMessageFor(m => m.Acers)
    </div>
    <div>
        @Html.LabelFor(m => m.Rate)<br />
        @Html.TextBoxFor(m => m.Rate, new { @type = "CFS" })
        @Html.ValidationMessageFor(m => m.Rate)
    </div>
    <div>
        @Html.LabelFor(m => m.Allotment)
        @Html.TextBoxFor(m => m.Allotment, new { @type = "Acers" })
        @Html.ValidationMessageFor(m => m.Allotment)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
}
</body>