@using KlamathIrrigationDistrict.DataLayer.DataModels
@model MapTaxLots
@{
    ViewBag.Title = "KID OfficeStaff: Edit Map Tax Lot";
}
<head>
    <title>KID: Office Staff</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/OfficeStaff.css" type="text/css"/>
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<header id="OfficeStaffMenu">
    <ul>
        <li><label class="FirstLast">Linda.Seater</label></li>
        @*use @Html.DisplayFOR(m => m.LogIn))*@
        <li><a href="/Customers/Index">Customers</a></li>
        <li><a href="/OfficeStaff/Index">Staff</a></li>
        <li><a href="Index" id="active">MapTaxLots</a></li>
        <li><a href="~/Account/Login" class="LogOutBtn">Log Out</a></li>
    </ul>
</header>
<body>
    <a href="Index" class="previous">&laquo; Previous</a><br />
    Edit MapTaxLot
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.MapTaxLot)
            @Html.TextBoxFor(m => m.MapTaxLot, new { @type = "mtl" } )
            @Html.ValidationMessageFor(m => m.MapTaxLot)
        </div>
        <div>
            @Html.LabelFor(m => m.DivisionID)
            @Html.DropDownList("DivisionID", new SelectList(Enum.GetValues(typeof(SelectDevision))), "DivisionID")         
            @Html.ValidationMessageFor(m => m.DivisionID)
        </div>
        <div>
            @Html.LabelFor(m => m.TrackingID)
            @Html.TextBoxFor(m => m.TrackingID, new { @type = "CustomerID"})
            @Html.ValidationMessageFor(m => m.TrackingID)
        </div>
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @type = "owner"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Structure)
            @Html.TextBoxFor(m => m.Structure, new { @type = "Turnout" })
            @Html.ValidationMessageFor(m => m.Structure)
        </div>
        @*<div>
            @Html.LabelFor(m => m.Ride)
            @Html.TextBoxFor(m => m.Ride)
            @Html.ValidationMessageFor(m => m.Ride)
        </div>*@
        <div>
            @Html.LabelFor(m => m.LongName)
            @Html.TextBoxFor(m => m.LongName, new { @type = "LongName" })
            @Html.ValidationMessageFor(m => m.LongName)
        </div>
        <div>
            @Html.LabelFor(m => m.Status)
            @Html.DropDownList("Status", new SelectList(Enum.GetValues(typeof(SelectStatusID1))), "Status")
            @Html.ValidationMessageFor(m => m.Status)
        </div>
        <div>
            @Html.LabelFor(m => m.Acers)
            @Html.TextBoxFor(m => m.Acers, new { @type = "Acers" })
            @Html.ValidationMessageFor(m => m.Acers)
        </div>
        /*Rate should be auto calculated bassed off of DistrictID and Status*/
        <div>
            @Html.LabelFor(m => m.Rate)
            @Html.TextBoxFor(m => m.Rate, new { @type="CFS" })
            @Html.ValidationMessageFor(m => m.Rate)
        </div>
        <div>
            @Html.LabelFor(m => m.Allotment)
            @Html.TextBoxFor(m => m.Allotment, new { @type="Acers"})
            @Html.ValidationMessageFor(m => m.Allotment)
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    }
</body>