@using KlamathIrrigationDistrict.DataLayer.DataModels
@model KIDStaff
@{
    ViewBag.Title = "KID Staff: Add Staff";

}
<link rel="stylesheet" href="~/Styles/OfficeStaff.css" />
<script src="~/Scripts/KIDDitchRidersJS.js"></script>
<header id="OfficeStaffMenu">
    <ul>
        <li><label class="FirstLast">@User.Identity.Name</label></li>
        <li><a href="/Customers/Index">Customers</a></li>
        <li><a href="Index" id="active">Staff</a></li>
        <li><a href="/MapTaxLot/Index">MapTaxLot</a></li>
        <li><a href="~/Account/Login" class="LogOutBtn">Log Out</a></li>
    </ul>
</header>
<body>
   <!--Add a new Employee class=DitchRiderContacts-->
    <a href="Index" class="previous">&laquo; Previous</a><br />
    New Employee
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(s => s.StaffID)
        @Html.HiddenFor(s => s.ModifiedDateTime)
        @Html.HiddenFor(s => s.ModifiedUser)
        @*@Html.HiddenFor(s => s.ModifiedUser, new { @Value = User.Identity.Name})*@
       
        <div>
            @Html.Label("Position:")
            @*@Html.DropDownList("Position", Model.GetPositionList);*@
            @Html.TextBoxFor(s => s.Position)
            @Html.ValidationMessageFor(s => s.Position)
        </div>
        <div>
            @Html.LabelFor(s => s.FirstName)
            @Html.TextBoxFor(s => s.FirstName)
            @Html.ValidationMessageFor(s => s.FirstName)
        </div>
        <div>
            @Html.LabelFor(s => s.LastName)
            @Html.TextBoxFor(s => s.LastName)
            @Html.ValidationMessageFor(s => s.LastName)
        </div>
        <div>
            @Html.LabelFor(s => s.Password)
            @Html.TextBoxFor(s => s.Password, new { @type = "password", @Id = "psw" })
            <input type="checkbox" onclick="ShowPassword()">Show Password
            @Html.ValidationMessageFor(s => s.Password)
        </div>
        <div>
            @Html.LabelFor(s => s.Email)
            @Html.TextBoxFor(s => s.Email, new { @type = "email" })
            @Html.ValidationMessageFor(s => s.Email)
        </div>
        <div>
            @Html.LabelFor(s => s.PhoneNumber)
            @Html.TextBoxFor(s => s.PhoneNumber, new { @type = "tel" })
            @Html.ValidationMessageFor(s => s.PhoneNumber)
        </div>
        <div>
            @Html.Label("Active")
            @Html.CheckBoxFor(s => s.StaffStatus)
            @Html.ValidationMessageFor(s => s.StaffStatus)
        </div>
        <div>
            @Html.LabelFor(s => s.StartDate)
            @Html.TextBoxFor(s => s.StartDate, new { @type = "date" })
            @Html.ValidationMessageFor(s => s.StartDate)
        </div>
        <div>
            @Html.LabelFor(s => s.EndDate)
            @Html.TextBoxFor(s => s.EndDate, new { @type = "date" })
            @Html.ValidationMessageFor(s => s.EndDate)
        </div>
        @*<div>
            @Html.LabelFor(s => s.ModifiedDateTime)
            @Html.TextBoxFor(s => s.ModifiedDateTime, new { @type = "datetime", @Value = DateTime.Now.ToString(), @disabled = "disabled" })
            @Html.ValidationMessageFor(s => s.ModifiedDateTime)
        </div>*@
        @*<div>
            @Html.LabelFor(s => s.ModifiedUser)
            @Html.TextBoxFor(s => s.ModifiedUser, new { @type = "User"})
            @Html.ValidationMessageFor(s => s.ModifiedUser)
        </div>*@
        <div>
            <button type="Submit">Add</button>
        </div>
    }
</body>