@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests

<div style="overflow-x: auto;">
    <!--Alphabet List for ActiveRequests class=ActiveRequests-->
    <table class="ActiveRequests">
        <caption>Add Request(off)</caption>
        <tr>
            <th>@Html.Label("Request Date")</th>
            <th>@Html.Label("Customer ID")</th>
            <th>@Html.Label("Customer Name")</th>
            <th>@Html.Label("Turn Out")</th>
            <th>@Html.Label("CFS Requested")</th>
            <th colspan="2">@Html.Label("Customer Comments")</th>
        </tr>
        <tr>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.RequestID)
                @Html.HiddenFor(m => m.TimeStampCustomer2)
                <td>@Html.TextBoxFor(m => m.CustomerDate2, new { @type = "date"})</td>
                <td>@Html.TextBoxFor(m => m.CustomerID, new { @type = "number", @Value = "3681" })</td>
                <td>@Html.TextBoxFor(m => m.CustomerName, new { @Value = "Horsley Luther J & Candace O" })</td>
                <td>@Html.DropDownListFor(m => m.Structure, Model.HorsleyStructures)</td>
                <td>@Html.TextBoxFor(m => m.CustomerCFS2, new { @type = "number" })</td>
                <td>@Html.TextBoxFor(m => m.CustomerComments2, new { @Value = "Made by " + User.Identity.Name })</td>
                <td><button type="submit">Add</button></td>
            }
        </tr>
    </table>
</div>
