@using KlamathIrrigationDistrict.DataLayer.DataModels
@*@model KlamathIrrigationDistrict.Models.DropDownListModel*@
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Request Water On";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";

}
<body>
    <a href="Customers4" class="previous"><br />&laquo; Customers</a>
    <div style="overflow-x: auto;">
        <table class="ActiveRequests">
            <caption>Add Requests(On)</caption>
            <tr>
                <th>@Html.Label("Request Date")</th>
                <th>@Html.Label("Customer Name")</th>
                <th>@Html.Label("Turn Out")</th>
                <th>@Html.Label("CFS Requested")</th>
                <th colspan="2">@Html.Label("Customer Comments")</th>
            </tr>
            <tr>
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.RequestID)
                    @Html.HiddenFor(m => m.TimeStampCustomer1)
                    @Html.HiddenFor(m => m.CustomerID)
                    @Html.HiddenFor(m => m.CustomerName)
                    <td>@Html.TextBoxFor(m => m.CustomerDate1, new { @type = "date" }) </td>
                    <td>@Html.DisplayTextFor(m => m.CustomerName)</td>
                    <td>@Html.DisplayTextFor(m => m.Structure)</td>
                    <td>@Html.TextBoxFor(m => m.CustomerCFS1, new { @type = "number" }) </td>
                    <td>@Html.TextBoxFor(m => m.CustomerComments1, new { @Value = "Made By " + User.Identity.Name })</td>
                    <td><button type="submit">Add</button></td>
                }
            </tr>
        </table>
    </div>
</body>