@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID: Request Water On";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<a href="@Url.Action("Customers", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]" class="previous"><br />&laquo;Customers</a>
@using (Html.BeginForm())
{
    <table class="ActiveRequests">
        <caption>Add Request For Water On</caption>
        <tr>
            <th>@Html.Label("Name")</th>
            <th>@Html.Label("Date")</th>
            <th>@Html.Label("CFS")</th>
            <th>@Html.Label("Turnout")</th>
            <th>@Html.Label("Status")</th>
        </tr>
        <tr>               
            @Html.HiddenFor(m => m.RequestID)
            @Html.HiddenFor(m => m.TimeStampCustomer1)
            @Html.HiddenFor(m => m.CustomerID)
            @Html.HiddenFor(m => m.CustomerName)
            @Html.HiddenFor(m => m.Staff1, new { @Value = User.Identity.Name})
            @Html.HiddenFor(m => m.Ride, new { @Value = Url.RequestContext.RouteData.Values["id"] })
            @Html.HiddenFor(m => m.CustomerComments1, new {@Value = "Made By " + User.Identity.Name})
            <td>@Html.DisplayTextFor(m => m.CustomerName)</td>
            <td>@Html.TextBoxFor(m => m.CustomerDate1, new { @type = "datetime-local", @Value = Model._Getdate.Date.ToString("yyyy-MM-ddThh:mm") })</td>
            <td>@Html.TextBoxFor(m => m.CustomerCFS1, new { @type = "number", @step = "0.001" } )</td>
            <td>@Html.DisplayTextFor(m => m.Structure)</td>
            <td>@Html.DropDownListFor(m => m.RequestStatus1, ViewData["Status"] as IEnumerable<SelectListItem>)</td>
        </tr>
    </table>
    <div>
        <button type="submit">Add</button>
    </div>
}
@Html.Partial("_CanalWater")