@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<DitchRiderRequests>
@{
    ViewBag.Title = "KID D.R.: Appending Request Water On";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";

}
<body>
    <table class="ActiveRequests">
        <caption>Pending Requests (On)</caption>
        <tr>
            @*<th>@Html.Label("Request ID")</th>*@
            <th>@Html.Label("Date")</th>
            <th>@Html.Label("Name")</th>
            <th>@Html.Label("Turn Out")</th>
            <th>@Html.Label("CFS")</th>
            <th>@Html.Label("Status")</th>
            <th colspan="2">@Html.Label("Comments")</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                @*<td>@Model[i].RequestID</td>*@
                <td>@Model[i].CustomerDate1.ToShortDateString()</td>
                <td>@Model[i].CustomerName</td>
                <td>@Model[i].Structure</td>
                <td>@Model[i].CustomerCFS1</td>
                <td>@Model[i].RequestStatus1</td>
                <td>@Model[i].CustomerComments1</td>
                <td>@Html.ActionLink("Status", "EditRequestStatus_On", new { @RequestID = Model[i].RequestID, @id = Url.RequestContext.RouteData.Values["id"] }) </td>
            </tr>
        }
    </table>


    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Appending_4On", new { page }))
    </div><br />
</body>