@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID: Canals";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
@using (Html.BeginForm())
{
    <table class="ActiveRequests" style="width: 500px;">
        <caption>Canal CFS Level</caption>
        <tr>
            <th>@Html.Label("Canal")</th>
            <th>@Html.Label("Today's CFS")</th>
            <th>@Html.Label("Tomorrow's CFS")</th>
        </tr>
        <tr>
            <td>@Html.DropDownListFor(s => s.Lateral, ViewData["Lateral"] as IEnumerable<SelectListItem>, "--Select--", new { onchange = "this.form.submit();" })</td>
            <td>@Model.TodayCFS</td>
            <td>@Model.TomorrowCFS</td>
        </tr>
    </table>               
}    
