@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Canals";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
    @using (Html.BeginForm())
    {
        <table class="ActiveRequests">
            <caption>Yesterday Canal Levels</caption>
            <tr>
                <th>@Html.Label("Canal")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Delivered to Laterals")</th>
                <th>@Html.Label("Delivered to Farms")</th>
            </tr>
            <tr>
                <th>@Html.TextBoxFor(s => s.Lateral)</th>
                <th>@Html.TextBox("CFS")</th>
                <th>@Html.TextBox("CFS")</th>
                <th>@Html.TextBox("CFS")</th>
            </tr>
        </table>
        <table class="ActiveRequests">
            <caption>Today's Canal Levels</caption>
            <tr>
                <th>@Html.Label("Canal")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Delivered to Laterals")</th>
                <th>@Html.Label("Delivered to Farms")</th>
            </tr>
            <tr>
                <th>@Html.TextBoxFor(s => s.Lateral)</th>
                <th>@Html.TextBox("CFS")</th>
                <th>@Html.TextBox("CFS")</th>
                <th>@Html.TextBox("CFS")</th>
            </tr>
        </table>
        <table class="ActiveRequests">
            <caption>Tomorrow's Canal Levels</caption>
            <tr>
                <th>@Html.Label("Canal")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Delivered to Laterals")</th>
                <th>@Html.Label("Delivered to Farms")</th>
            </tr>
            <tr>
                <th>@Html.TextBoxFor(s => s.Lateral)</th>
                <th>@Html.TextBox("CFS")</th>
                <th>@Html.TextBox("CFS")</th>
                <th>@Html.TextBox("CFS")</th>
            </tr>
        </table>
       @*@Html.Label("Enter Canal/Lateral: ")
        @Html.TextBoxFor(m => m.Lateral)
        <div>
            <button type="submit">Submit</button>
        </div>
        <div>
           
        </div>*@
    }
    @*@Html.Partial("_CanalCFS");*@
</body>
