@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Canals";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
    @using (Html.BeginForm())
    {
        <table class="ActiveRequests">
            <caption>Enter Canal</caption>
            <tr>
                <th>@Html.Label("Canal")</th>
                <th>@Html.Label("Today's CFS")</th>
                <th>@Html.Label("Tomoorow's CFS")</th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(s => s.Lateral)</td>
                <td>@Model.CustomerCFS2</td>
                <td>@Model.CustomerCFS1</td>
            </tr>
        </table>
        
        <div>
            <button type="submit">Submit</button>
        </div>        
    }    
</body>
