@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<DitchRiderRequests>
@{
    ViewBag.Title = "KID D.R.: Completed Requests";
}
<head>
    <title>KID: Ditch Rider</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/DitchRiders.css" />
    <link rel="stylesheet" href="~/Scripts/KIDDitchRidersJS.js" />
</head>
<!--List of Rides class=dropdownRide-->
<header id="Header">
    <div id="RideCenter">
        <a class="dropdown">Ride 4</a>
    </div>
    <!--Log in Name, Customers, Requests, Canals, LogOUt id=Menu-->
    <ul id="Menu">
        <li><label class="FirstLast">@User.Identity.Name</label></li>
        <li><a href="/DitchRiders/Customers4">Customers</a></li>
        <li class="dropdown">
            <a class="RequestDropDown" href="/DitchRiders/Index4">Requests</a>
            <!--Requests drop down menu class=dropdownRequest-->
            <div class="dropdownRequest" style="overflow-x: auto;">
                <a href="/DitchRiders/_ActiveREquestsOn4" >Active Requests On</a>
                <a href="/DitchRiders/_ActiveRequestsOff4">Active Requests Off</a>
                <a href="/DitchRiders/Appending_4On">Appending On</a>
                <a href="/DitchRiders/Appending_4Off">Appending Off</a>
                <a href="/DitchRiders/CompletedRequests"id="active">Completed Requests</a>
                <a href="/DitchRiders/WaitList_4On">Waitlist On</a>
                <a href="/DitchRiders/WaitList_4Off">Waitlist Off</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="RequestDropDown" href="./KIDDitchRiderRide4CanalsHTML.html">Canals</a>
            <!--List of Cananls on Ride class=dropdownRequest-->
            <div class="dropdownRequest">
                <a href="./KIDDitchRiderRide4CanalsAHTML.html">A</a>
                <a href="./KIDDitchRiderRide4CanalsCHTML.html">C</a>
                <a href="./KIDDitchRiderRide4CanalsC4HTML.html">C4</a>
                <a href="./KIDDitchRiderRide4CanalsC4EHTML.html">C4E</a>
                <a href="./KIDDitchRiderRide4CanalsC4E1HTML.html">C4E1</a>
                <a href="./KIDDitchRiderRide4CanalsC4E1AHTML.html">C4E1A</a>
                <a href="./KIDDitchRiderRide4CanalsC4JHTML.html">C3J</a>
                <a href="./KIDDitchRiderRide4CanalsC4KHTML.html">C4K</a>
                <a href="./KIDDitchRiderRide4CanalsC4LHTML.html">C4L</a>
                <a href="./KIDDitchRiderRide4CanalsC4MHTML.html">C4M</a>
                <a href="./KIDDitchRiderRide4CanalsC4NHTML.html">C4N</a>
                <a href="./KIDDitchRiderRide4CanalsC4QHTML.html">C4Q</a>
                <a href="./KIDDitchRiderRide4CanalsC4RHTML.html">C4R</a>
                <a href="./KIDDitchRiderRide4CanalsC4SHTML.html">C4S</a>
            </div>
        </li>
        <li><a href="~/Account/Login">Log Out</a></li>
    </ul>
</header>
<body>
    <div style="overflow-x: auto;">
        <!--Completed Requests class=ActiveRequests-->
        <table class="ActiveRequests">
            <caption>Completed Requests (On)</caption>
            <tr>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Turn Out")</th>
                <th>@Html.Label("CFS")</th>
                <th id="RBorder">@Html.Label("Comments")</th>
                <th>@Html.Label("Staff")</th>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Comments")</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].CustomerDate1.ToShortDateString()</td>
                    <td>@Model[i].CustomerName</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].CustomerCFS1</td>
                    <td id="RBorder">@Model[i].CustomerComments1</td>
                    <td>@Model[i].Staff1</td>
                    <td>@Model[i].StaffDate1.ToShortDateString()</td>
                    <td>@Model[i].StaffCFS1</td>
                    <td>@Model[i].StaffComments1</td>
                </tr>
            }
        </table>
    </div>
    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("CompletedRequests", new { page }))
    </div>
    @*<div style="overflow-x: auto;">*@
    <table class="ActiveRequests" style="overflow-x: auto;">
        <caption>Completed Requests (off)</caption>
        <tr>
            <th>@Html.Label("Date")</th>
            <th>@Html.Label("Name")</th>
            <th>@Html.Label("Turn Out")</th>
            <th>@Html.Label("CFS")</th>
            <th id="RBorder">@Html.Label("Comments")</th>
            <th>@Html.Label("Staff")</th>
            <th>@Html.Label("Date")</th>
            <th>@Html.Label("CFS")</th>
            <th>@Html.Label("Comments")</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].CustomerDate2.ToShortDateString()</td>
                <td>@Model[i].CustomerName</td>
                <td>@Model[i].Structure</td>
                <td>@Model[i].CustomerCFS2</td>
                <td id="RBorder">@Model[i].CustomerComments2</td>
                <td>@Model[i].Staff2</td>
                <td>@Model[i].StaffDate2.ToShortDateString()</td>
                <td>@Model[i].StaffCFS2</td>
                <td>@Model[i].StaffComments2</td>
            </tr>
        }
    </table>
    @*</div>*@
    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("CompletedRequests", new { page }))
    </div>
</body>