@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<DitchRiderCustomers>
@*@model List<DitchRiderCustomers>*@
@{ 
    ViewBag.Title = "KID D.R.: Customers";
}
<head>
    <title>KID: Ditch Rider</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/DitchRiders.css" />
    <link rel="stylesheet" href="~/Scripts/KIDDitchRidersJS.js" />
</head>
<!--List of Rides class=dropdownRide-->
<header id="Header">
    <div id="RideCenter">
        <a class="dropdown">Ride 4</a>
    </div>
    <!--Log in Name, Customers, Requests, Canals, LogOUt id=Menu-->
    <ul id="Menu">
        <li><label class="FirstLast">@User.Identity.Name</label></li>
        <li><a href="Customers4" id="active">Customers</a></li>
        <li class="dropdown">
            <a class="RequestDropDown" href="Index4">Requests</a>
            <!--Requests drop down menu class=dropdownRequest-->
            <div class="dropdownRequest" style="overflow-x: auto;">
                <a href="./KIDDitchRiderRide4AppendingWaitlistHTML.html">Appending/Waitlist</a>
                <a href="/DitchRiders/AddRequest4On">Call Requests</a>
                <a href="/DitchRiders/CompletedRequests">Completed Requests</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="RequestDropDown" href="./KIDDitchRiderRide4CanalsHTML.html">Canals</a>
            <!--List of Cananls on Ride class=dropdownRequest-->
            <div class="dropdownRequest">
                <a href="./KIDDitchRiderRide4CanalsAHTML.html">A</a>
                <a href="./KIDDitchRiderRide4CanalsCHTML.html">C</a>
                <a href="./KIDDitchRiderRide4CanalsC4HTML.html">C4</a>
                <a href="./KIDDitchRiderRide4CanalsC4EHTML.html">C4E</a>
                <a href="./KIDDitchRiderRide4CanalsC4E1HTML.html">C4E1</a>
                <a href="./KIDDitchRiderRide4CanalsC4E1AHTML.html">C4E1A</a>
                <a href="./KIDDitchRiderRide4CanalsC4JHTML.html">C3J</a>
                <a href="./KIDDitchRiderRide4CanalsC4KHTML.html">C4K</a>
                <a href="./KIDDitchRiderRide4CanalsC4LHTML.html">C4L</a>
                <a href="./KIDDitchRiderRide4CanalsC4MHTML.html">C4M</a>
                <a href="./KIDDitchRiderRide4CanalsC4NHTML.html">C4N</a>
                <a href="./KIDDitchRiderRide4CanalsC4QHTML.html">C4Q</a>
                <a href="./KIDDitchRiderRide4CanalsC4RHTML.html">C4R</a>
                <a href="./KIDDitchRiderRide4CanalsC4SHTML.html">C4S</a>
            </div>
        </li>
        <li><a href="~/Account/Login">Log Out</a></li>
    </ul>
</header>
<body>
    <div style="overflow-x: auto;">
        <!--Completed Requests class=ActiveRequests-->
        <table class="ActiveRequests">
            <caption>Customers</caption>
            <tr>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Structure")</th>
                <th>@Html.Label("Lateral")</th>
                <th>@Html.Label("Customer ID")</th>
                <th>@Html.Label("Total Allotment")</th>
                <th>@Html.Label("Log Water")</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].StructureID</td>
                    <td>@Model[i].Lateral</td>
                    <td>@Model[i].CustomerID</td>
                    <td>@Model[i].TotalAllotment</td>
                    <td>@Html.ActionLink("Add Water", "AddRequest4On", new { @CustomerID = Model[i].CustomerID })</td>
                </tr>
            }
        </table>
    </div>
    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Customers4", new { page }))
    </div><br />
</body>