@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<DitchRiderRequests>
@{
    ViewBag.Title = "KID D.R.: Completed Requests";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
    <a href="@Url.Action("Customers", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]" class="previous"><br />&laquo; Customers</a>
        <table class="ActiveRequests">
            <caption>Customer History (On)</caption>
            <tr>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Turn Out")</th>
                <th>@Html.Label("CFS")</th>
                <th id="RBorder">@Html.Label("Comments")</th>
                <th>@Html.Label("Staff")</th>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Comments")</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.Hidden(Model[i].CustomerID.ToString())
                <tr>
                    <td>@Model[i].CustomerDate1</td>
                    <td>@Model[i].CustomerName</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].CustomerCFS1</td>
                    <td id="RBorder">@Model[i].CustomerComments1</td>
                    <td>@Model[i].Staff1</td>
                    @if (Model[i].StaffDate1 != Model[i].CustomerDate1)
                    {
                        <td style="color: red;">@Model[i].StaffDate1</td>
                    }
                    @if (Model[i].StaffDate1 == Model[i].CustomerDate1)
                    {
                        <td>@Model[i].StaffDate1</td>
                    }
                    @if (Model[i].StaffCFS1 != Model[i].CustomerCFS1)
                    {
                        <td style="color: red;">@Model[i].StaffCFS1</td>
                    }
                    @if (Model[i].StaffCFS1 == Model[i].CustomerCFS1)
                    {
                        <td>@Model[i].StaffCFS1</td>
                    }
                    <td>@Model[i].StaffComments1</td>
                </tr>
            }                           
        </table>
        <div class="pagination" style="margin-left: 20px;">           
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("CustomerHistory", new { page, @CustomerID = ViewData["CID"] }))
        </div>    
    <table class="ActiveRequests">
        <caption>Customer History (off)</caption>
        <tr>
            <th>@Html.Label("Date")</th>
            <th>@Html.Label("Name")</th>
            <th>@Html.Label("Turn Out")</th>
            <th>@Html.Label("CFS")</th>
            <th id="RBorder">@Html.Label("Comments")</th>
            <th>@Html.Label("Staff")</th>
            <th>@Html.Label("Date")</th>
            <th>@Html.Label("CFS")</th>
            <th>@Html.Label("Comments")</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.Hidden(Model[i].CustomerID.ToString())
            <tr>
                <td>@Model[i].CustomerDate2</td>
                <td>@Model[i].CustomerName</td>
                <td>@Model[i].Structure</td>
                <td>@Model[i].CustomerCFS2</td>
                <td id="RBorder">@Model[i].CustomerComments2</td>
                <td>@Model[i].Staff2</td>
                @if (Model[i].StaffDate2 != Model[i].CustomerDate2)
                {
                    <td style="color: red;">@Model[i].StaffDate2</td>
                }
                @if (Model[i].StaffDate2 == Model[i].CustomerDate2)
                {
                    <td>@Model[i].StaffDate2</td>
                }
                <td>@Model[i].StaffCFS2</td>
                <td>@Model[i].StaffComments2</td>
            </tr>
        }
    </table>
    <div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("CustomerHistory", new { page, @CustomerID = ViewData["CID"] }))
    </div>
</body>