@using KlamathIrrigationDistrict.DataLayer.DataModels
@model List<DitchRiderRequests>
@{ 
    ViewBag.Title = "KID D.R.: Customers";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
    <input type="search" id="SearchCustomers" onkeyup="SearchCustomersFn()" placeholder="Search Customers by Name" title="Type in a name" />
        <table class="ActiveRequests" id="ActiveRequests">
            <caption>Customers</caption>
            <tr>                
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Turnout")</th>
                <th>@Html.Label("Lateral")</th>
                <th>@Html.Label("Current Allotment")</th>
                <th>@Html.Label("Violations")</th>
                <th>@Html.Label("Activity")</th>                                
            </tr>            
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>                    
                    <td>@Model[i].CustomerName</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].Lateral</td>                    
                    @if (Model[i].TotalAllotment < 0)
                    {
                        <td style="color: red;">@Model[i].TotalAllotment</td>
                    }
                    @if (Model[i].TotalAllotment > 0)
                    {
                        <td>@Model[i].TotalAllotment</td>
                    }                  
                    <td>@Model[i].ViolationID @Html.ActionLink("Violation", "Violations", new { @CustomerID = Model[i].CustomerID, @id = Url.RequestContext.RouteData.Values["id"], @Lateral = Model[i].Lateral, @Structure = Model[i].Structure, @CustomerName = Model[i].CustomerName })
                    </td>                    
                    <td> 
                        @if (Model[i].On == 0)
                        {
                            @Html.ActionLink("Water On", "AddRequestOn", new { @Structure = Model[i].Structure, @id = Url.RequestContext.RouteData.Values["id"], @Lateral = Model[i].Lateral })
                        }
                        @if (Model[i].On > 0)
                        {
                            @Html.Label("Water Running")
                        }                                                                          
                        |@Html.ActionLink("History", "CustomerHistory", new { @CustomerID = Model[i].CustomerID, @id = Url.RequestContext.RouteData.Values["id"] })|
                        @Html.ActionLink("Recent", "CustomerRHistory", new { @CustomerID = Model[i].CustomerID, @id = Url.RequestContext.RouteData.Values["id"] })
                    </td>
                </tr>
            }
        </table>
</body>