@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Turn On Water";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";

}
<body>
    <a href="@Url.Action("Appending_4On", "DitchRiders")/@Url.RequestContext.RouteData.Values["id"]" class="previous"><br />&laquo; Appending On</a>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(s => s.RequestID)
        @Html.HiddenFor(s => s.TimeStampStaff2, new { @Value = DateTime.Now })
        @Html.HiddenFor(s => s.Staff2, new { @Value = User.Identity.Name })
        <table class="ActiveRequests">
            <caption>Request Status</caption>
            <tr>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Turnout")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Status")</th>
                <th colspan="2">@Html.Label("Comments")</th>
            </tr>
            <tr>
                <td>@Html.DisplayTextFor(s => s.CustomerDate1)</td>
                <td>@Html.DisplayTextFor(s => s.CustomerName)</td>
                <td>@Html.DisplayTextFor(s => s.Structure)</td>
                <td>@Html.DisplayTextFor(s => s.CustomerCFS1)</td>
                <td>@Html.DropDownListFor(s => s.RequestStatus1, ViewData["S"] as IEnumerable<SelectListItem>, "Select")</td>
                <td>@Html.DropDownListFor(s => s.StaffComments1, ViewData["StaffComments2"] as IEnumerable<SelectListItem>, "Select")</td>
            </tr>
        </table>
        <div>
            <button type="submit">Submit</button>
        </div>
    }
</body>
