@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Turn On Water";
}
<head>
    <title>KID: Ditch Rider</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/DitchRiders.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--List of Rides class=dropdownRide-->
<header id="Header">
    <div id="RideCenter">
        <a class="dropdown">Ride 4</a>
    </div>
    <!--Log in Name, Customers, Requests, Canals, LogOUt id=Menu-->
    <ul id="Menu">
        <li><label class="FirstLast">@User.Identity.Name</label></li>
        <li class="dropdown">
            <a href="Customers4">Customers</a>
            <div class="dropdownRequest" style="overflow-x: auto;">
                <a href="/DitchRiders/Customers_4On">Customers With Water On</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="RequestDropDown" href="/Index4" id="active">Requests</a>
            <!--Requests drop down menu class=dropdownRequest-->
            <div class="dropdownRequest" style="overflow-x: auto;">
                <a href="/DitchRiders/Index4">Active Requests On</a>
                <a href="/DitchRiders/_ActiveRequestsOff4">Active Requests Off</a>
                <a href="/DitchRiders/Appending_4On" id="active">Appending On</a>
                <a href="/DitchRiders/Appending_4Off">Appending Off</a>
                <a href="/DitchRiders/CompletedRequests">Completed Requests</a>
                <a href="/DitchRiders/WaitList_4On">Waitlist On</a>
                <a href="/DitchRiders/WaitList_4Off">Waitlist Off</a>
            </div>
        </li>
        <li>
            <a href="/DitchRiders/CanalWater">Canals</a>
        </li>
        <li>
            <a href="~/Account/Login">Log Out</a>
        </li>
    </ul>
</header>
<body>
    <a href="Appending_4On" class="previous"><br />&laquo; Appending On</a>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(s => s.RequestID)
        @Html.HiddenFor(s => s.TimeStampStaff2, new { @Value = DateTime.Now })
        @Html.HiddenFor(s => s.Staff2, new { @Value = User.Identity.Name })
        <table class="ActiveRequests">
            <caption>Request Status</caption>
            <tr>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Turnout")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Status")</th>
                <th colspan="2">@Html.Label("Comments")</th>
            </tr>
            <tr>
                <td>@Html.DisplayTextFor(s => s.CustomerDate1)</td>
                <td>@Html.DisplayTextFor(s => s.CustomerName)</td>
                <td>@Html.DisplayTextFor(s => s.Structure)</td>
                <td>@Html.DisplayTextFor(s => s.CustomerCFS1)</td>
                <td>@Html.DropDownListFor(s => s.RequestStatus1, ViewData["S"] as IEnumerable<SelectListItem>, "Select")</td>
                <td>@Html.DropDownListFor(s => s.StaffComments1, ViewData["StaffComments2"] as IEnumerable<SelectListItem>, "Select")</td>
            </tr>
        </table>
        <div>
            <button type="submit">Submit</button>
        </div>
    }
</body>
