@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<DitchRiderRequests>
@{ 
    ViewBag.Title = "KID D.R.: Home Page";
}
<head>
    <title>KID: Ditch Rider</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/DitchRiders.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--List of Rides class=dropdownRide-->
<header id="Header">
    <div id="RideCenter">
        <li class="dropdown">
            <a class="./KIDDitchRider4HTML.html">Ride 4</a>
            <div class="dropdownRide" style="overflow-x: auto;">
                <a href="../Ride1/KIDDitchRider1HTML.html">1</a>
                <a href="../Ride2/KIDDitchRider2HTML.html">2</a>
                <a href="../Ride3/KIDDitchRider3HTML.html">3</a>
                <a href="./KIDDitchRider4HTML.html" id="active">4</a>
                <a href="../Ride5/KIDDitchRider5HTML.html">5</a>
                <a href="../Ride6/KIDDitchRider6HTML.html">6</a>
                <a href="../Ride7/KIDDitchRider7HTML.html">7</a>
                <a href="../Ride8/KIDDitchRider8HTML.html">8</a>
            </div>
        </li>
    </div>
    <!--Log in Name, Customers, Requests, Canals, LogOUt id=Menu-->
    <ul id="Menu">
        <li><label class="FirstLast">Scott.Linville</label></li>
        <li><a href="./KIDDitchRiderRide4CustomersHTML.html">Customers</a></li>
        <li class="dropdown">
            <a class="RequestDropDown" href="./KIDDitchRider4HTML.html" id="active">Requests</a>
            <!--Requests drop down menu class=dropdownRequest-->
            <div class="dropdownRequest" style="overflow-x: auto;">
                <a href="./KIDDitchRiderRide4AppendingWaitlistHTML.html">Appending/Waitlist</a>
                <a href="./KIDDitchRiderRide4CallRequestsHTML.html">Call Requests</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="RequestDropDown" href="./KIDDitchRiderRide4CanalsHTML.html">Canals</a>
            <!--List of Cananls on Ride class=dropdownRequest-->
            <div class="dropdownRequest">
                <a href="./KIDDitchRiderRide4CanalsAHTML.html">A</a>
                <a href="./KIDDitchRiderRide4CanalsCHTML.html">C</a>
                <a href="./KIDDitchRiderRide4CanalsC4HTML.html">C4</a>
                <a href="./KIDDitchRiderRide4CanalsC4EHTML.html">C4E</a>
                <a href="./KIDDitchRiderRide4CanalsC4E1HTML.html">C4E1</a>
                <a href="./KIDDitchRiderRide4CanalsC4E1AHTML.html">C4E1A</a>
                <a href="./KIDDitchRiderRide4CanalsC4JHTML.html">C3J</a>
                <a href="./KIDDitchRiderRide4CanalsC4KHTML.html">C4K</a>
                <a href="./KIDDitchRiderRide4CanalsC4LHTML.html">C4L</a>
                <a href="./KIDDitchRiderRide4CanalsC4MHTML.html">C4M</a>
                <a href="./KIDDitchRiderRide4CanalsC4NHTML.html">C4N</a>
                <a href="./KIDDitchRiderRide4CanalsC4QHTML.html">C4Q</a>
                <a href="./KIDDitchRiderRide4CanalsC4RHTML.html">C4R</a>
                <a href="./KIDDitchRiderRide4CanalsC4SHTML.html">C4S</a>
            </div>
        </li>
        <a href="~/Views/Account/Login"><button class="LogOutBtn">Log Out</button></a>
    </ul>
</header>
<body>
    <div style="overflow-x: auto;">
        <!--Alphabet List for ActiveRequests class=ActiveRequests-->
        <table class="ActiveRequests">
            <caption>Active Requests</caption>
            @*<div style="overflow-x: auto;">*@
                <!--CanalsList class=CanalsList-->
                @*<table class="CanalsList">
                    <th>A</th>
                    <th>C</th>
                    <th>C4</th>
                    <th>C4E</th>
                    <th>C4E1</th>
                    <th>C4E1A</th>
                    <th>C3J</th>
                    <th>C4K</th>
                    <th>C4L</th>
                    <th>C4M</th>
                    <th>C4N</th>
                    <th>C4Q</th>
                    <th>C4R</th>
                    <th>C4S</th>
                </table>
            </div>
        </table>
    </div>*@
    @*<div style="overflow-x: auto;">*@
        <!-- ActiveRequests Table class=ActiveRequests-->
        @*<table class="ActiveRequests">*@
            <tr>
                <th>@Html.Label("Request Date")</th>
                <th>@Html.Label("Customer Name")</th>
                <th>@Html.Label("Turn Out")</th>
                <th>@Html.Label("CFS Requested")</th>
                <th id="RBorder">@Html.Label("Customer Comments")</th>
                <th>@Html.Label("Ditch Rider Date")</th>
                <th>@Html.Label("Ditch Rider")</th>
                <th>@Html.Label("CFS Given")</th>
                <th colspan="2">@Html.Label("Ditch Rider Comments")</th>
            </tr>
            @for (int i =0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].CustomerDate.ToShortDateString()</td>
                    <td>@Model[i].CustomerName</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].CFSRequested</td>
                    <td id="RBorder">@Model[i].CustomerComments</td>
                    <td>@Model[i].DitchRiderDate.ToShortDateString()</td>
                    <td>Scott Linville</td>
                    <td>@Html.TextBoxFor(Model => Model[i].CFSGiven, new { @type = "number" })</td>
                    <td>@Html.TextAreaFor(Model => Model[i].DitchRiderComments)</td>
                    <td>
                        @Html.ActionLink("Edit Request", "EditRequest", new { @RequestID = Model[i].RequestID})
                    </td>
                </tr>
            }
        </table>
    </div>
    <div style="overflow-x: auto;">
        <!--Completed Requests class=ActiveRequests-->
        <table class="ActiveRequests">
            <caption>Completed Requests</caption>
            @*<table class="CanalsList">
                <th>A</th>
                <th>C</th>
                <th>C4</th>
                <th>C4E</th>
                <th>C4E1</th>
                <th>C4E1A</th>
                <th>C3J</th>
                <th>C4K</th>
                <th>C4L</th>
                <th>C4M</th>
                <th>C4N</th>
                <th>C4Q</th>
                <th>C4R</th>
                <th>C4S</th>
            </table>
        </table>
    </div>*@
    @*<div style="overflow-x: auto;">*@
        <!--Active Requests class=ActiveRequests-->
        @*<table class="ActiveRequests">*@
            
            <tr>
                <th>@Html.Label("Request Date")</th>
                <th>@Html.Label("Customer Name")</th>
                <th>@Html.Label("Turn Out")</th>
                <th>@Html.Label("CFS Requested")</th>
                <th id="RBorder">@Html.Label("Customer Comments")</th>
                <th>@Html.Label("Ditch Rider Date")</th>
                <th>@Html.Label("Ditch Rider")</th>
                <th>@Html.Label("CFS Given")</th>
                <th>@Html.Label("Ditch Rider Comments")</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].CustomerDate.ToShortDateString()</td>
                    <td>@Model[i].CustomerName</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].CFSRequested</td>
                    <td id="RBorder">@Model[i].CustomerComments</td>
                    <td>@Model[i].DitchRiderDate.ToShortDateString()</td>
                    <td>Scott Linville</td>
                    <td>@Model[i].CFSGiven</td>
                    <td>@Model[i].DitchRiderComments</td>
                </tr>
            }
        </table>
    </div>
</body>