@using KlamathIrrigationDistrict.DataLayer.DataModels
@*@using PagedList.Mvc;
@model PagedList.IPagedList<DitchRiderRequests>*@
@model List<DitchRiderRequests>

@{
    ViewBag.Title = "KID D.R.: Wait List Water Off";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
        <input type="text" id="SearchCustomers" onkeyup="SearchCustomers2Fn()" placeholder="Search Customers by Name" title="Type in a name" />
        <table class="ActiveRequests" id="ActiveRequests">
            <caption>Waitlist Requests Off</caption>
            <tr>
                <th>@Html.Label("Date")</th>
                <th>@Html.Label("Name")</th>
                <th>@Html.Label("Turn Out")</th>
                <th>@Html.Label("Lateral")</th>
                <th>@Html.Label("CFS")</th>
                <th>@Html.Label("Status")</th>
                <th>@Html.Label("Comments")</th>
                <th>@Html.Label("Log Water")</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].CustomerDate2.ToShortDateString()</td>
                    <td>@Model[i].CustomerName</td>
                    <td>@Model[i].Structure</td>
                    <td>@Model[i].Lateral</td>
                    <td>@Model[i].CustomerCFS2</td>
                    <td>@Model[i].RequestStatus2</td>
                    <td>@Model[i].CustomerComments2</td>
                    <td>@Html.ActionLink("Off", "EditWaitList_Off", new { @RequestID = Model[i].RequestID, @id = Url.RequestContext.RouteData.Values["id"], @Lateral = Model[i].Lateral})</td>
                </tr>
            }
        </table>
    @*<div class="pagination" style="margin-left: 20px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("WaitList_Off", new { page }))
    </div>*@
</body>
